a {
    text-decoration: none;
}
.parking {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 20px; 
}
.inner-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px #aaaaaa;
    background: darkgrey;
    border-radius: 10px;
    height: 200px;

}